$body-bg-dark: #1e2027;

$primary: #6c5dd3;
$secondary: #242731;
$success: #4ca749;
$info: #b15dd3;

$modal-animation-duration: 0.5s;
$modal-transform-start: scale(0.5);
$modal-transform-end: scale(1);

.fade .modal-dialog {
  animation: customModalFadeOut $modal-animation-duration forwards;
}

.fade.show .modal-dialog {
  animation: customModalFadeIn $modal-animation-duration forwards;
}

// Definir las animaciones usando @keyframes
@keyframes customModalFadeIn {
  from {
    opacity: 0;
    transform: $modal-transform-start;
  }
  to {
    opacity: 1;
    transform: $modal-transform-end;
  }
}

@keyframes customModalFadeOut {
  from {
    opacity: 1;
    transform: $modal-transform-end;
  }
  to {
    opacity: 0;
    transform: $modal-transform-start;
  }
}

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/bootstrap";
